<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pdfium.Net.SDK" version="2.6.12" targetFramework="net45" />
  <package id="PdfiumViewer" version="2.3.0.0" targetFramework="net45" />
  <package id="Select.Pdf" version="15.2.0.0" targetFramework="net45" />
  <package id="TallComponents.PDFKit" version="4.0.49.0" targetFramework="net45" />
</packages>